<!DOCTYPE html>
<html>
  <head>
    <title> <%= title yield(:title) %> </title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if logged_in? %>
      <%= "Welcolme #{current_user.username}" %><br>
      <%= link_to 'Log Out', logout_path, method: 'delete' %><br>
      <%= link_to 'New Event', new_event_path %><br>
      <%= link_to 'Profile', user_path(current_user) %><br>
    <% else %>
      <%= link_to 'Log In', login_path %><br>
    <% end %>
    <%= link_to 'Home', root_path %>
    <%= yield %>

  </body>
</html>
